<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
</head>
<body>
    <h1>Welcome users profile</h1>
    <header>
        <h2>user name  <%= user.userName %></h2>
        <h2>user email <%= user.email %></h2>
        <h2>user google id <%= user.googleId %></h2>
        <h2>user accessToken <%= user.accessToken %></h2>
    </header>
    <button><a href="/Google/auth/logout">logout</a></button>


</body>
</html>